<p>
  <b>Id:</b>
  <%= @kases.id %>
</p>
<p>
  <b>Rep:</b>
  <%= @kases.rep %>
</p>
<p>
  <b>Status:</b>
  <%= @kases.status %>
</p>
<p>
  <b>Created At:</b>
  <%= @kases.created_at %>
</p>
<p>
  <b>Updated At:</b>
  <%= @kases.updated_at %>
</p>
<p>
  <b>Case No:</b>
  <%= @kases.case_no %>
</p>
<p>
  <b>Claim No:</b>
  <%= @kases.claim_no %>
</p>
<p>
  <b>Assigned To:</b>
  <%= @kases.assigned_to %>
</p>
<p>
  <b>Owned By:</b>
  <%= @kases.owned_by %>
</p>
<p>
  <b>Insured Name:</b>
  <%= @kases.insured_name %>
</p>
<p>
  <b>Insured Address:</b>
  <%= @kases.insured_address %>
</p>
<p>
  <b>Insured City:</b>
  <%= @kases.insured_city %>
</p>
<p>
  <b>Insured State:</b>
  <%= @kases.insured_state %>
</p>
<p>
  <b>Insured Zipcode:</b>
  <%= @kases.insured_zipcode %>
</p>
<p>
  <b>Insured Phone No:</b>
  <%= @kases.insured_phone_no %>
</p>
<p>
  <b>Insured Email:</b>
  <%= @kases.insured_email %>
</p>
<p>
  <b>Date Of Loss:</b>
  <%= @kases.date_of_loss %>
</p>
<p>
  <b>Product:</b>
  <%= @kases.product %>
</p>
<p>
  <b>No Of Products:</b>
  <%= @kases.no_of_products %>
</p>
<p>
  <b>Manufacturer:</b>
  <%= @kases.manufacturer %>
</p>
<p>
  <b>Additional Evidence:</b>
  <%= @kases.additional_evidence %>
</p>
<p>
  <b>Date Received:</b>
  <%= @kases.date_received %>
</p>
<p>
  <b>Promised By Date:</b>
  <%= @kases.promised_by_date %>
</p>
<p>
  <b>Date Sent:</b>
  <%= @kases.date_sent %>
</p>
<p>
  <b>Report Prepared By:</b>
  <%= @kases.report_prepared_by %>
</p>
<p>
  <b>Report Revised By:</b>
  <%= @kases.report_revised_by %>
</p>
<p>
  <b>Billed Until Date:</b>
  <%= @kases.billed_until_date %>
</p>
<p>
  <b>Type Of Report:</b>
  <%= @kases.type_of_report %>
</p>
<p>
  <b>Disposition:</b>
  <%= @kases.disposition %>
</p>
<p>
  <b>Delivered By:</b>
  <%= @kases.delivered_by %>
</p>
