<%= form_for(@kase) do |f| %>
  <% if @kase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kase.errors.count, "error") %> prohibited this kase from being saved:</h2>

      <ul>
      <% @kase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :claim_nr %><br />
    <%= f.text_field :claim_nr %>
  </div>
  <div class="field">
    <%= f.label :rep %><br />
    <% rep_names_and_ids = [] %>
    <% Rep.all.each { |r| rep_names_and_ids.push( [ r.name, r.id+0 ] ) } %>
    <%= select( :kase, :rep, rep_names_and_ids ) %>
  </div>
  <div class="field">
    <%= f.label :insuree %><br />
    <%= f.text_field :insuree %>
  </div>
  <div class="field">
    <%= f.label :product %><br />
    <%= f.text_field :product %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <% stati = [ ["new","new"], ["examination","examination"], ["finish","finish"] ] %>
    <%= select( :kase, :status, stati ) %>
  </div>
  <div class="field">
    <%= f.label :engineer %><br />
    <%= f.text_field :engineer %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit "Update case"%>
  </div>
<% end %>
