<b>
<%= link_to 'Ins. Companies', insurance_cos_path %> |
<%= link_to 'Ins. Co. Offices', ins_co_offices_path %> |
<%= link_to 'Ins. Co. Reps', reps_path %>
</b>
<br />
<br />

<h1>Cases</h1>

<table border="1">
  <tr>
    <th>Claim nr</th>
    <th>Rep</th>
    <th>Insuree</th>
    <th>Product</th>
    <th>Status</th>
    <th>Engineer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @kases.each do |kase| %>
  <tr>
    <td><%= kase.claim_nr %></td>
    <td><% rep = Rep.find(kase.rep) %> <%= link_to rep.name, rep %></td>
    <td><%= kase.insuree %></td>
    <td><%= kase.product %></td>
    <td><%= kase.status %></td>
    <td><%= kase.engineer %></td>
    <td><%= link_to 'Show', kase %></td>
    <td><%= link_to 'Edit', edit_kase_path(kase) %></td>
    <td><%= link_to 'Destroy', kase, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Case', new_kase_path %>
