<%= render 'layouts/navigation_bar' %>

<% if @controller_method == 'show_search_result_method' %>
  <h1>Search Results</h1>
  <b> <%= @kases.size %> cases were found. </b>
  <br />
  <br />
  <!--
  -->
  Search Constraints: <%= @condition_string %>
  <br />
  <br />
<% else %>
  <h1>Cases</h1>
<% end %>

<style type="text/css">

  .yellowBackground
  {
    background-color: yellow;
  }
  .pinkBackground
  {
    background-color: pink;
  }
  .blueBorder
  {
    border-color: blue;
  }

</style>

<table border="1" cellpadding="10">
  <tr>
    <th>Case no</th>
    <th>Claim no</th>
    <th>Insured</th>
    <th>Rep</th>
    <th>Product</th>
    <th>Status</th>
    <th>Assigned to</th>
    <th>Owned by</th>
<!--
    <th>Location</th>
    <th>Storage</th>
    <% if @controller_method == 'billed_until_date_passed_method' %>
      <th class="yellowBackground">Billed til</th>
    <% else %>
      <th>Billed til</th>
    <% end %>
    <th>Received</th>
-->
    <th>Operations</th>
  </tr>

<% @kases.each do |kase| %>
  <tr>
    <% if kase.case_no == nil then %>
      <td><%= kase.case_no %></td>
    <% else %>
      <td><%= link_to kase.case_no, kase %></td>
    <% end %>
    <td><%= kase.claim_no %></td>
    <td><%= kase.insured_name %></td>
    <td>
      <% if kase.rep.is_a?(Integer) then %>
        <% rep = Rep.find(kase.rep) %>
        <%= link_to rep.name, rep %>
      <% end %>
    </td>
    <td><%= kase.product %></td>
    <td><%= kase.status %></td>
    <td><%= kase.assigned_to != nil ? Employee.find(kase.assigned_to).name : '' %></td>
    <td><%= kase.owned_by    != nil ? Employee.find(kase.owned_by).name    : '' %></td>
<!--
    <td><%= kase.location %></td>
    <td><%= kase.storage_volume != nil ? kase.storage_volume + ' cu.ft.' : '' %></td>
    <% if @controller_method == 'billed_until_date_passed_method' %>
      <td class="yellowBackground"><%= kase.billed_until_date %></td>
    <% else %>
      <td><%= kase.billed_until_date %></td>
    <% end %>
    <td><%= kase.date_received %></td>
-->
    <td>
        <%= link_to 'Show', kase %> &nbsp; | &nbsp;
        <%= link_to 'Edit', edit_kase_path(kase) %> &nbsp; | &nbsp;
        <%= link_to 'Destroy', kase, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Case', new_kase_path %>
