<%= render 'layouts/navigation_bar' %>

<h1>Cases</h1>

<table border="1">
  <tr>
    <th>Case no</th>
    <th>Claim no</th>
    <th>Insured</th>
    <th>Rep</th>
    <th>Product</th>
    <th>Status</th>
    <th>Location</th>
    <th>Billed til</th>
    <th>Est. cmpltn</th>
    <th>Operations</th>
  </tr>

<% @kases.each do |kase| %>
  <tr>
    <td><%= kase.case_no %></td>
    <td><%= kase.claim_no %></td>
    <td><%= kase.insured_name %></td>
    <td>
      <% if kase.rep.is_a?(Integer) then %>
        <% rep = Rep.find(kase.rep) %>
        <%= link_to rep.name, rep %>
      <% end %>
    </td>
    <td><%= kase.product %></td>
    <td><%= kase.status %></td>
    <td><%= kase.location %></td>
    <td><%= kase.billed_until_date %></td>
    <td><%= kase.promised_by_date %></td>
    <td>
        <%= link_to 'Show', kase %> |
        <%= link_to 'Edit', edit_kase_path(kase) %> |
        <%= link_to 'Destroy', kase, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Case', new_kase_path %>
