<%= render 'layouts/navigation_bar' %>

<h1>Search Cases</h1>

<%= form_for( @kase, :url => '/kases/result', :html => { :method => :post } ) do |f| %>

  <% if @kase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@kase.errors.count, "error") %> prohibited this kase from being saved:</h2>
      <ul>
      <% @kase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label      :rep %><br />

    <% rep_names_and_ids = [ "", nil ] %>
    <% Rep.all.each { |r| rep_names_and_ids.push( [ r.name , r.id+0 ] ) } %>
    <%= select( :kase, :rep, rep_names_and_ids ) %>
  </div>

  <div class="field">
    <%= f.label      :assigned_to %><br />

    <%  employee_names_and_ids = [ "", nil ] %>
    <%  Employee.all.each { |empl| employee_names_and_ids.push( [ empl.name, empl.id+0 ] ) } %>
    <%= select( :kase, :assigned_to, employee_names_and_ids ) %>
  </div>

  <div class="field">
    <%= f.label      :status %><br />

    <%  stati = [ [ "", "" ], ["new","new"], ["examination","examination"], [ "CPI","CPI" ],  [ "sent", "sent" ], %>
    <%      [ "additional report", "additional report" ], ["rebuttal","rebuttal"], ["testimony", "testimony" ] ] %>
    <%= select( :kase, :status, stati ) %>
  </div>

  <div class="field">
    <%= f.label      :manufacturer %><br />

    <%  mfgr_names_and_ids = [ "", nil ] %>
    <%  Manufacturer.all.each { |mfgr| mfgr_names_and_ids.push( [ mfgr.name, mfgr.id+0 ] ) } %>
    <%= select( :kase, :manufacturer, mfgr_names_and_ids ) %>
  </div>

  <div class="field">
    <%= f.label      :product %><br />
    <%= f.text_field :product %>
  </div>

  <div class="field">
    <%= f.label      :disposition %><br />

    <% dispositions = [ [ "", "" ], ["stored","stored"], ["returned","returned"], ["disposed","disposed"], ["shipped", "shipped"] ] %>
    <%= select( :kase, :disposition, dispositions ) %>
  </div>

  <div class="field">
    <%= f.label      :location %><br />
    <%= f.text_field :location %>
  </div>

  <div class="field">
    <%= f.label      :storage_volume %><br />
    <%= f.text_field :storage_volume %>
  </div>

  <!--
  NOTE: We are overloading this field for the purposes of the search controller method show_search_result.
  We expect the user to enter a year here, not a day, month, and year.
  -->
  <div class="field">
    <%= f.label      'Year received' %><br />
    <%= f.text_field :date_received %>
  </div>


<!--
     -----------------------------------------------------------------------------------------------------
     The following fields are NOT on the search form -- they are left over from when this file was created
     as a copy of views/kases/_form.html.erb.
     -----------------------------------------------------------------------------------------------------

  <div class="field">
    <%= f.label      :billed_until_date %><br />
    <%= f.text_field :billed_until_date %>
  </div>

  <div class="field">
    <%= f.label      :case_no %><br />
    <%= f.text_field :case_no %>
  </div>

  <div class="field">
    <%= f.label      :claim_no %><br />
    <%= f.text_field :claim_no %>
  </div>

  <div class="field">
    <%= f.label      :owned_by %><br />
    <% employee_names_and_ids = [] %>
    <% Employee.all.each { |empl| employee_names_and_ids.push( [ empl.name, empl.id+0 ] ) } %>
    <%= select( :kase, :owned_by, employee_names_and_ids ) %>
  </div>

  <div class="field">
    <%= f.label      :insured_name %><br />
    <%= f.text_field :insured_name %>
  </div>

  <div class="field">
    <%= f.label      :insured_address %><br />
    <%= f.text_field :insured_address %>
  </div>

  <div class="field">
    <%= f.label      :insured_city %><br />
    <%= f.text_field :insured_city %>
  </div>

  <div class="field">
    <%= f.label      :insured_state %><br />
    <%= f.text_field :insured_state %>
  </div>

  <div class="field">
    <%= f.label      :insured_zipcode %><br />
    <%= f.text_field :insured_zipcode %>
  </div>

  <div class="field">
    <%= f.label      :insured_phone_no %><br />
    <%= f.text_field :insured_phone_no %>
  </div>

  <div class="field">
    <%= f.label      :insured_email %><br />
    <%= f.text_field :insured_email %>
  </div>

  <div class="field">
    <%= f.label      :date_of_loss %><br />
    <%= f.text_field :date_of_loss %>
  </div>

  <div class="field">
    <%= f.label      :no_of_products %><br />
    <%= f.text_field :no_of_products %>
  </div>

  <div class="field">
    <%= f.label      :additional_evidence %><br />
    <%= f.text_field :additional_evidence %>
  </div>

  <div class="field">
    <%= f.label      :date_received %><br />
    <%= f.text_field :date_received %>
  </div>

  <div class="field">
    <%= f.label      :promised_by_date %><br />
    <%= f.text_field :promised_by_date %>
  </div>

  <div class="field">
    <%= f.label      :date_sent %><br />
    <%= f.text_field :date_sent %>
  </div>

  <div class="field">
    <%= f.label      :report_prepared_by %><br />
    <% employee_names_and_ids = [] %>
    <% Employee.all.each { |empl| employee_names_and_ids.push( [ empl.name, empl.id+0 ] ) } %>
    <%= select( :kase, :report_prepared_by, employee_names_and_ids ) %>
  </div>

  <div class="field">
    <%= f.label      :report_revised_by %><br />
    <% employee_names_and_ids = [] %>
    <% Employee.all.each { |empl| employee_names_and_ids.push( [ empl.name, empl.id+0 ] ) } %>
    <%= select( :kase, :report_revised_by, employee_names_and_ids ) %>
  </div>

  <div class="field">
    <%= f.label      :type_of_report %><br />

    <% report_types = [ ["Engineer","Engineer"], ["PE","PE"], ["Pe reviewed","Pe reviewed"], ["PhD", "PhD"] ] %>
    <%= select( :kase, :type_of_report, report_types ) %>
  </div>

  <div class="field">
    <%= f.label      :delivered_by %><br />
    <%= f.text_field :delivered_by %>
  </div>

     -----------------------------------------------------------------------------------------------------
     End of the fields from _form.html.erb that are NOT included in the search form.
     -----------------------------------------------------------------------------------------------------
-->

  <br />
  <br />

  <div class="actions">
    <%= f.submit "Search"%>
  </div>

  <br />

<% end %>
