<%= render 'layouts/navigation_bar' %>

<p id="notice"><%= notice %></p>

<p>
  <b>Case No:</b>
  <%= @kase.case_no %>
</p>
<p>
  <b>Claim No:</b>
  <%= @kase.claim_no %>
</p>
<p>
  <b>Rep:</b>
  <% if @kase.rep.is_a?(Integer) then %>
      <% rep = Rep.find(@kase.rep) %>
      <%= link_to rep.name, rep %>
  <% end %>
</p>
<p>
  <b>Status:</b>
  <%= @kase.status %>
</p>
<p>
  <b>Assigned To:</b>
  <% assignee_id = @kase.assigned_to %>
  <% if assignee_id.is_a?(Integer) then %>
      <% assignee = Employee.find(assignee_id) %>
      <%= link_to assignee.name, assignee %>
  <% end %>
</p>
<p>
  <b>Owned By:</b>
  <% owner_id = @kase.owned_by %>
  <% if owner_id.is_a?(Integer) then %>
      <% owner = Employee.find(owner_id) %>
      <%= link_to owner.name, owner %>
  <% end %>
</p>
<p>
  <b>Insured Name:</b>
  <%= @kase.insured_name %>
</p>
<p>
  <b>Insured Address:</b>
  <%= @kase.insured_address %>
</p>
<p>
  <b>Insured City:</b>
  <%= @kase.insured_city %>
</p>
<p>
  <b>Insured State:</b>
  <%= @kase.insured_state %>
</p>
<p>
  <b>Insured Zipcode:</b>
  <%= @kase.insured_zipcode %>
</p>
<p>
  <b>Insured Phone No:</b>
  <%= @kase.insured_phone_no %>
</p>
<p>
  <b>Insured Email:</b>
  <%= @kase.insured_email %>
</p>
<p>
  <b>Date Of Loss:</b>
  <%= @kase.date_of_loss %>
</p>
<p>
  <b>Product:</b>
  <%= @kase.product %>
</p>
<p>
  <b>No Of Products:</b>
  <%= @kase.no_of_products %>
</p>
<p>
  <b>Manufacturer:</b>
  <% mfgr_id = @kase.manufacturer %>
  <% if mfgr_id.is_a?(Integer) then %>
      <% mfgr = Manufacturer.find(mfgr_id) %>
      <%= link_to mfgr.name, mfgr %>
  <% end %>
</p>
<p>
  <b>Cause of Failure:</b>
  <%= @kase.cause_of_failure %>
</p>
<p>
  <b>Additional Evidence:</b>
  <%= @kase.additional_evidence %>
</p>
<p>
  <b>Date Received:</b>
  <%= @kase.date_received %>
</p>
<p>
  <b>Promised By Date:</b>
  <%= @kase.promised_by_date %>
</p>
<p>
  <b>Date Sent:</b>
  <%= @kase.date_sent %>
</p>
<p>
  <b>Report Prepared By:</b>
  <% reporter_id = @kase.report_prepared_by %>
  <% if reporter_id.is_a?(Integer) then %>
    <% reporter = Employee.find(reporter_id) %>
    <%= link_to reporter.name, reporter %>
  <% end %>
</p>
<p>
  <b>Report Revised By:</b>
  <% editor_id = @kase.report_revised_by %>
  <% if editor_id.is_a?(Integer) then %>
    <% editor = Employee.find(editor_id) %>
    <%= link_to editor.name, editor %>
  <% end %>
</p>
<p>
  <b>Billed Until Date:</b>
  <%= @kase.billed_until_date %>
</p>
<p>
  <b>Type Of Report:</b>
  <%= @kase.type_of_report %>
</p>
<p>
  <b>Disposition:</b>
  <%= @kase.disposition %>
</p>
<p>
  <b>Storage Volume (cu.ft.):</b>
  <%= @kase.storage_volume %>
</p>
<p>
  <b>Delivered By:</b>
  <%= @kase.delivered_by %>
</p>

<p>
  <% if @previous_notes != '' %>
    <label>PREVIOUS NOTES</label><br />
    <textarea cols="50" rows="10" readonly>
      <%= @previous_notes %>
    </textarea>
  <% end %>
</p>


<br />

<%= link_to 'Edit', edit_kase_path(@kase) %>

<br />
<br />
