<%= render 'layouts/navigation_bar' %>

<p id="notice"><%= notice %></p>

<p>
  <b>Case No:</b>
  <%= @kase.case_no %>
</p>
<p>
  <b>Claim No:</b>
  <%= @kase.claim_no %>
</p>
<p>
  <b>Rep:</b>
  <% rep = Rep.find(@kase.rep) %>
  <%= link_to rep.name, rep %>
</p>
<p>
  <b>Status:</b>
  <%= @kase.status %>
</p>
<p>
  <b>Assigned To:</b>
  <%= Employee.find(@kase.assigned_to).name %>
</p>
<p>
  <b>Owned By:</b>
  <%= Employee.find(@kase.owned_by).name %>
</p>
<p>
  <b>Insured Name:</b>
  <%= @kase.insured_name %>
</p>
<p>
  <b>Insured Address:</b>
  <%= @kase.insured_address %>
</p>
<p>
  <b>Insured City:</b>
  <%= @kase.insured_city %>
</p>
<p>
  <b>Insured State:</b>
  <%= @kase.insured_state %>
</p>
<p>
  <b>Insured Zipcode:</b>
  <%= @kase.insured_zipcode %>
</p>
<p>
  <b>Insured Phone No:</b>
  <%= @kase.insured_phone_no %>
</p>
<p>
  <b>Insured Email:</b>
  <%= @kase.insured_email %>
</p>
<p>
  <b>Date Of Loss:</b>
  <%= @kase.date_of_loss %>
</p>
<p>
  <b>Product:</b>
  <%= @kase.product %>
</p>
<p>
  <b>No Of Products:</b>
  <%= @kase.no_of_products %>
</p>
<p>
  <b>Manufacturer:</b>
  <%= Manufacturer.find(@kase.manufacturer).name %>
</p>
<p>
  <b>Additional Evidence:</b>
  <%= @kase.additional_evidence %>
</p>
<p>
  <b>Date Received:</b>
  <%= @kase.date_received %>
</p>
<p>
  <b>Promised By Date:</b>
  <%= @kase.promised_by_date %>
</p>
<p>
  <b>Date Sent:</b>
  <%= @kase.date_sent %>
</p>
<p>
  <b>Report Prepared By:</b>
  <%= Employee.find(@kase.report_prepared_by).name %>
</p>
<p>
  <b>Report Revised By:</b>
  <%= Employee.find(@kase.report_revised_by).name %>
  <%= @kase.report_revised_by %>
</p>
<p>
  <b>Billed Until Date:</b>
  <%= @kase.billed_until_date %>
</p>
<p>
  <b>Type Of Report:</b>
  <%= @kase.type_of_report %>
</p>
<p>
  <b>Disposition:</b>
  <%= @kase.disposition %>
</p>
<p>
  <b>Delivered By:</b>
  <%= @kase.delivered_by %>
</p>

<br />

<%= link_to 'Edit', edit_kase_path(@kase) %>

<br />
<br />
