<%= render 'layouts/navigation_bar' %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @rep.name %>
</p>

<p>
  <b>Tel nr:</b>
  <%= @rep.tel_nr %>
</p>

<p>
  <b>Fax nr:</b>
  <%= @rep.fax_nr %>
</p>

<p>
  <b>Email:</b>
  <%= @rep.email %>
</p>

<p>
  <b>Office:</b>
  <% office = InsCoOffice.find(@rep.office) %>
  <%= link_to office.name, office %>
</p>


<%= link_to 'Edit', edit_rep_path(@rep) %>
