<p id="notice"><%= notice %></p>

<p>
  <b>Claim nr:</b>
  <%= @case.claim_nr %>
</p>

<p>
  <b>Rep:</b>
  <%= @case.rep %>
</p>

<p>
  <b>Insuree:</b>
  <%= @case.insuree %>
</p>

<p>
  <b>Product:</b>
  <%= @case.product %>
</p>

<p>
  <b>Status:</b>
  <%= @case.status %>
</p>

<p>
  <b>Engineer:</b>
  <%= @case.engineer %>
</p>


<%= link_to 'Edit', edit_case_path(@case) %> |
<%= link_to 'Back', cases_path %>
