<b>
<%= link_to 'Cases', kases_path %> |
<%= link_to 'Ins. Companies', insurance_cos_path %> |
<%= link_to 'Ins. Co. Offices', ins_co_offices_path %> |
<%= link_to 'Ins. Co. Reps', reps_path %>
</b>
<br />
<br />

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @insurance_co.name %>
</p>

<p>
  <b>Url:</b>
  <%= @insurance_co.url %>
</p>


<br />
<%= link_to 'Edit', edit_insurance_co_path(@insurance_co) %> |
<%= link_to 'Offices', "/ins_co_offices/for_co/#{@insurance_co.id}" %> |
<%= link_to 'New Office', '/ins_co_offices/new_for_co/' + @insurance_co.id.to_s %>
