<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @insurance_co.name %>
</p>

<p>
  <b>Url:</b>
  <%= @insurance_co.url %>
</p>


<br />
<%= link_to 'Edit', edit_insurance_co_path(@insurance_co) %> |
<%= link_to 'Offices', "/ins_co_offices/for_co/#{@insurance_co.id}" %> |
<%= link_to 'New Office', '/ins_co_offices/new_for_co/' + @insurance_co.id.to_s %>
<br />
<br />
<%= link_to 'All Ins. Companies', insurance_cos_path %> |
<%= link_to 'All Ins. Co. Offices', ins_co_offices_path %> |
<%= link_to 'All Ins. Co. Representatives', reps_path %>

