<b>
<%= link_to 'Cases', kases_path %> |
<%= link_to 'Ins. Companies', insurance_cos_path %> |
<%= link_to 'Ins. Co. Offices', ins_co_offices_path %> |
<%= link_to 'Ins. Co. Reps', reps_path %>
</b>
<br />
<br />

<h1>Editing <%= @ins_co_office.name %></h1>

<%= render 'form' %>

<br />
<br />

<%= link_to 'Back to ' + @ins_co_office.name, @ins_co_office %>
