<b>
<%= link_to 'Cases', kases_path %> |
<%= link_to 'Ins. Companies', insurance_cos_path %> |
<%= link_to 'Ins. Co. Offices', ins_co_offices_path %> |
<%= link_to 'Ins. Co. Reps', reps_path %>
</b>
<br />
<br />

<h1>Listing of offices for <%= @insurance_co.name %></h1>

<table border="1">
  <tr>
    <th>Name</th>
    <th>Tel nr</th>
    <th>Address 1</th>
    <th>Address 2</th>
    <th>City</th>
    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% if @ins_co_offices.length > 0 then %>
  <% @ins_co_offices.each do |ins_co_office| %>
  <tr>
    <td><%= ins_co_office.name %></td>
    <td><%= ins_co_office.tel_nr %></td>
    <td><%= ins_co_office.address_1 %></td>
    <td><%= ins_co_office.address_2 %></td>
    <td><%= ins_co_office.city %></td>
    <td><%= ins_co_office.state %></td>
    <td><%= link_to 'Show', ins_co_office %></td>
    <td><%= link_to 'Edit', edit_ins_co_office_path(ins_co_office) %></td>
    <td><%= link_to 'Destroy', ins_co_office, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>
  <% end %>
</table>

<br />

<%= link_to   @insurance_co.name,  @insurance_co %> |
<%= link_to 'New office', '/ins_co_offices/new_for_co/' + @insurance_co.id.to_s %>
