<%= form_for(@manufacturer) do |f| %>
  <% if @manufacturer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manufacturer.errors.count, "error") %> prohibited this manufacturer from being saved:</h2>

      <ul>
      <% @manufacturer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :brands %><br />
    (Enter brand name(s) separated by commas.)<br />
    <%= f.text_field :brands %>
  </div>
  <div class="field">
    <% mfgr_names_and_ids = [] %>
    <% Manufacturer.all.each { |mfgr| mfgr_names_and_ids.push( [ mfgr.name, mfgr.id+0 ] ) } %>
    <% mfgr_names_and_ids.push( [ "(NONE)", nil ] ) %>
    <% if ( mfgr_names_and_ids.size > 0 ) %>
    <%=    f.label :parent_co %><br />
    <%=    select( :manufacturer, :parent_co, mfgr_names_and_ids ) %>
    <% else %>
           <b>No candidates for parent co. (i.e., manufacturers) exist.</b><br />
           You are creating the first manufacturer. If you wish to give it a<br />
           parent company, finish creating it, then create the parent company<br />
           manufacturer, then edit this manufacturer and add the parent.
           <br />
    <% end %>
  </div>
  <div class="field">
    <%= f.label :address_1 %><br />
    <%= f.text_field :address_1 %>
  </div>
  <div class="field">
    <%= f.label :address_2 %><br />
    <%= f.text_field :address_2 %>
  </div>
  <div class="field">
    <%= f.label :phone_no %><br />
    <%= f.text_field :phone_no %>
  </div>
  <div class="field">
    <%= f.label :fax_no %><br />
    <%= f.text_field :fax_no %>
  </div>
  <div class="field">
    <%= f.label :website %><br />
    <%= f.text_field :website %>
  </div>
  <div class="field">
    <%= f.label :documents_and_manuals %><br />
    <%= f.text_field :documents_and_manuals %>
  </div>
  <br />
  <br />
  <div class="actions">
    <%= f.submit 'Submit' %>
  </div>
<% end %>
