<%= render 'layouts/navigation_bar' %>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @manufacturer.name %>
</p>

<p>
  <b>Brands:</b>
  <%= @manufacturer.brands %>
</p>

<p>
  <b>Parent co:</b>
  <% if ( @manufacturer.parent_co == nil ) then %>
         (NONE)
  <% else %>
         <% parent = Manufacturer.find(@manufacturer.parent_co) %>
         <%= link_to parent.name, parent %>
  <% end %>
</p>

<p>
  <b>Address 1:</b>
  <%= @manufacturer.address_1 %>
</p>

<p>
  <b>Address 2:</b>
  <%= @manufacturer.address_2 %>
</p>

<p>
  <b>Phone no:</b>
  <%= @manufacturer.phone_no %>
</p>

<p>
  <b>Fax no:</b>
  <%= @manufacturer.fax_no %>
</p>

<p>
  <b>Website:</b>
  <% if ( @manufacturer.website.length < 7  ||  @manufacturer.website[0..6] != "http://" ) then %>
  <%     website_url = "http://" + @manufacturer.website %>
  <% else                                                %>
  <%     website_url = @manufacturer.website;            %>
  <% end                                                 %>
  <%= link_to @manufacturer.website, website_url %>
</p>

<p>
  <b>Documents and manuals:</b>
  <%= @manufacturer.documents_and_manuals %>
</p>

<br />

<%= link_to 'Edit', edit_manufacturer_path(@manufacturer) %>
